html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
}

body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

.actions {
  position: absolute;
  top: 10px;
  left: 10px;
}

.palette {
  margin-left: 240px;
}

.actions,
.more,
.palette {
  animation: fadein 0.5s;
  animation-timing-function: ease;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button,
input {
  border-radius: 0 !important;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  height: 40px !important;
  margin: 10px !important;
  opacity: 0.75;
  transition: 0.25s ease;
}

input {
  border: none;
  font-family: 'Open Sans';
  outline: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  width: 60px;
}

button:hover,
input:hover {
  opacity: 1;
}

button {
  background-color: #fff !important;
  cursor: pointer;
  max-width: 40px !important;
  min-width: 40px !important;
}

.container {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.canvas {
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.1) !important;
}

.icon {
  width: 16px !important;
}
